<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            Head Hunter parser
        </title>
        <link href="css.css" rel="stylesheet">      
    </head>
    <body>
        <h1>
            Head Hunter parser
            <hr>
        </h1>
        <h2>
            Главная страница
        </h2>
        <h3>Информация о системе</h3>
        <h4>
            <p>
                Парсер предназначен для поиска вакансий на сайте Head Hunter.
                <br>
                <br>
                Для поиска вакансий необходимо ввести параметры поиска в форму.
            </p>
            <p>
                <a href="http://127.0.0.1:5500/templates/form.html">Перейти к поиску</a>
            </p>
        </h4>
    </body>    
</html>