<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Head Hunter parser</title>
    <!-- Подключаем Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa; /* Светлый фон */
        }
        .container {
            margin-top: 50px; /* Отступ сверху */
            max-width: 800px; /* Максимальная ширина контейнера */
            background-color: #ffffff; /* Белый фон для контейнера */
            padding: 30px; /* Внутренние отступы */
            border-radius: 10px; /* Закругленные углы */
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Тень */
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="text-center">Head Hunter Skills Parser</h1>
        <hr>
        <h2 class="text-center">Как это работает!</h2>
        <br>
       
        <p class="text-center">
            Парсер предназначен для поиска наиболее значимых навыков по интересующей Вас ваканси.
            <br><br>
            Поиск происходит на сайте Head Hunter, по заданным Вами параметрам.
            <br><br>
            Перейдите на страницу формы по кнопке ниже!.
        </p>
        <br>
        <hr>
        <p class="text-center">
            <a href="{{ url_for('form') }}" class="btn btn-primary">Перейти к поиску</a>
        </p>
    </div>
</body>    
</html>
